mixin language-item(language, href)
  a(href=href)
    .language-item.flex.v-centered
      .flag-big&attributes(attributes)
      h3.flex.h-centered=language
    
mixin news-item(href, news)
  li 
    a(href=href)
      i.fa.fa-angle-right
      =news
    //- hr
    
mixin course-item(name, href, price, ...items )
  .info-tab.flex
    .info-name.t-center
      h4= name
    .info-description.t-center
      each item in items
        p= item
    .info-price.t-center
      p= price
    .info-container.flex.h-centered
      .btn.info-cta 
        a(href=href) Více
        
        
mixin quote-item(quote, name)
  blockquote.testimony
    .i.fa.fa-quote-left
    .quote-body
      p= quote
      footer.flex
        cite= name
  

main    
  section
    .container_80.flex.h-centered   
      .grid.flex.h-centered.content-box
        .languages
          h2.headline-first.t-center Jazyky, ktoré vyučujeme 
          .container_100.flex.h-centered
            +language-item('Český jazyk', 'ceskyjazyk.html')(class="cz")
            +language-item('Ruský jazyk', 'ruskyjazyk.html')(class="ru")
            +language-item('Anglický jazyk', 'anglickyjazyk.html')(class="en")
            +language-item('Ruský jazyk', 'anglickyjazyk.html')(class="ru")
            +language-item('Český jazyk', 'anglickyjazyk.html')(class="cz")
            +language-item('Anglický jazyk', 'anglickyjazyk.html')(class="en")
            
      .grid-3.flex.h-centered.content-box
        .news
          h2 Novinky
          ul
            +news-item('','Zápis na kurzy od 10.4.2016')
            +news-item('','Otvorenie Jazykového centra 16.4.2016')
            +news-item('','Začiatok výuky 17.4.2016')
            +news-item('','Zápis na kurzy od 10.4.2016')
            +news-item('','Otvorenie Jazykového centra 16.4.2016')
            +news-item('','Začiatok výuky 17.4.2016')
            +news-item('','Lorem ipsum dolor sit amet, consec adipisicing elit dolor')
            +news-item('','Otvorenie Jazykového centra 16.4.2016')
            +news-item('','Začiatok výuky 17.4.2016')

  section.news-template          
  section
    .courses.flex
      .container_80  
        h2.headline2.t-center Jazykove kurzy
      .container_80.flex.h-centered 
        +course-item('Express I', 'expressI.html', '2900 kč', 'Kurz pre začiatočníkov', '16 vyučovacích hodín', '2hod/týždenne')
        +course-item('Express II', 'expressI.html', '2900 kč', 'Kurz pre začiatočníkov', '16 vyučovacích hodín', '2hod/týždenne')
        +course-item('Standard I', 'standard.html I', '2900 kč', 'Kurz pre začiatočníkov', '16 vyučovacích hodín', '2hod/týždenne')
        +course-item('Standard II', 'standard.html I', '2900 kč', 'Kurz pre začiatočníkov', '16 vyučovacích hodín', '2hod/týždenne')
        +course-item('Standard III', 'standard.html I', '2900 kč', 'Kurz pre začiatočníkov', '16 vyučovacích hodín', '2hod/týždenne')
        +course-item('Intensive', 'standard.html', '2900 kč', 'Kurz pre začiatočníkov', '16 vyučovacích hodín', '2hod/týždenne')
        +course-item('Intensive', 'standard.html', '2900 kč', 'Kurz pre začiatočníkov', '16 vyučovacích hodín', '2hod/týždenne')
        +course-item('Intensive', 'standard.html', '2900 kč', 'Kurz pre začiatočníkov', '16 vyučovacích hodín', '2hod/týždenne')
  
  section.testimonies
      .container_80
        h2.headline2.t-center Povedali o nas
      .container_80.content-box.flex.h-centered 
        +quote-item("Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "Lorem Ipsum")
        +quote-item("Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.", "Lorem Ipsum")
        +quote-item("Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.", "Lorem Ipsum")
        +quote-item("Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", "Lorem Ipsum")
        +quote-item("Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.", "Lorem Ipsum")
        +quote-item("Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.", "Lorem Ipsum")


  
