mixin language-item(language)
  //- a(href=href)
  .language-item.flex.v-centered.v-start
    //- .flag-big&attributes(attributes)
    h3.t-center= language
    
mixin language-item-top(language, data)
  .language-item
     h3.t-center(data-category=data)= language
        
mixin course-item(name, href, price, ...items )
  .info-tab.flex
    .info-name.t-center
      h4= name
    .info-description.t-center
      each item in items
        p= item
    .info-price.t-center
      p= price
    .info-container.flex.h-centered
      .btn.info-cta 
        a(href=href) Víc
                
section
  .container_80.flex.h-centered   
    .grid.flex.h-centered.content-box
      .languages
        h2.headline-first.t-center Jazyky, ktoré vyučujeme 
        .container_100.flex.h-centered#1st
          +language-item-top('Živé jazyky', 'zive')         
          +language-item-top('Starobylé jazyky', 'starobyle')
        .container_100.flex.h-centered#2nd.red
         | HERE I'M 
        .container_100.flex.h-centered#3nd.red
         | HERE I'M
    .grid-3.flex.h-centered.content-box
      .news
        h2 Novinky
        ul.flex#news

section.courses
  .container_80  
    h2.headline2.t-center Jazykove kurzy
  .container_80.flex.h-centered
    +course-item('Express I', '../courses/express-1-cz/', '2900 kč', 'Kurz pro začátečníky', '16 vyuč. hod.', '2 hod. / týd.')
    +course-item('Express II', '../courses/express-2-cz/', '2900 kč', 'Kurz pre začiatočníkov', '16 vyuč. hod.', '2 hod. / týd.')
    +course-item('Standard I', '../courses/standard-1-cz', '3900 kč', 'Kurz pre začiatočníkov', '24 vyuč. hod.', '2 hod. / týd.')
    +course-item('Standard II', '../courses/standard-2-cz', '5400 kč', 'Kurz pre začiatočníkov', '36 vyuč. hod. ', '2 hod. / týd.')
    +course-item('Standard III', '../courses/standard-3-cz', '-', '-', '-', '-')
    +course-item('Intensive', '../courses/intensive-cz', '2900 kč', 'Kurz pre začiatočníkov', '16 vyučovacích hodín', '2hod/týždenne')
    +course-item('Intensive', 'standard.html', '2900 kč', 'Kurz pre začiatočníkov', '16 vyučovacích hodín', '2hod/týždenne')
    +course-item('Intensivejj Intensivejj', 'standard.html', '2900 kč', 'Kurz pre začiatočníkov', '2hod/týždenne')
