//- mixin lector-item(name, src, data)
  //- figure.lector
    //- img.lector__img(src=src)
    //- figcaption.lector__caption.lector-slide(data-name= data)= name  
    
//- mixin lector-itemLec(lectorOf, src, data)
  //- figure.lector
    //- img.lector__img(src=src)
    //- figcaption.lector__caption.lector-lectorOf(data-name= data)= lectorOf
    
mixin lector-itemExt(name, src, data, lectorOf, alt)
  figure.lector__container
    img.lector__img(src=src, alt=alt)
    figcaption.lector__caption(data-name= data)
      h3.lector__name= name
      h4.lector__lectorOf= lectorOf
    
section  
  .lectors__container
    h2.lectors__title Naši lektoři
    +lector-itemExt('Ksenia','../assets/img/ksenia_400.jpg', 'ksenia', 'Lektorka ruského, církevněslovanského a staroruského jazyka', 'Lektorka Ksenia' ); 
    +lector-itemExt('Martin','../assets/img/martin_400.jpg', 'martin', 'Lektor německého jazyka', 'Lektor Martin');     
    +lector-itemExt( 'Lera','../assets/img/lera_400.jpg', 'lera', 'Lektorka ruského jazyka', 'Lektorka Lera');   
    +lector-itemExt('Jan', '../assets/img/jan_400a.jpg', 'jan', 'Lektor anglického, českého, japonského, korejského jazyka', 'Lektorka Jan'); 
    +lector-itemExt('Maria','../assets/img/maria3.jpg', '', 'Lektorka anglického, francouzského, egyptského jazyka', 'Lektorka Maria'); 
    +lector-itemExt('Adam', '../assets/img/adam2.jpg', '', 'Lektor arabského jazyka', 'Lektor Adam'); 
     
